.tabsGrid {
  height: 100vh;
  position: fixed;
  z-index: 1000;
  width: 5vw;
  background-color: #041833;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.664);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.664);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 35% auto;
      grid-template-rows: 35% auto;
      grid-template-areas: 'logo' 'list';
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
}

.tabsGrid ul {
  margin: 0;
  padding-left: 0;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: list;
  list-style: none;
}

@media screen and (max-width: 760px) {
  .tabsGrid ul {
    padding-left: 6vw;
  }
}

.tabsGrid li {
  height: 3em;
  line-height: 2.5em;
  color: #ccd6f6;
}

@media screen and (max-width: 760px) {
  .tabsGrid li {
    float: left;
    line-height: 6vh;
  }
}

.tabsGrid .tabs {
  margin: 0;
  width: 100%;
  background: #062041;
  border-width: 2px;
  border-style: dashed;
  text-align: center;
  border-color: transparent;
  font-size: clamp(0.5rem, 0.9rem, 1rem);
}

@media screen and (max-width: 760px) {
  .tabsGrid .tabs {
    width: 20%;
    height: 7vh;
    font-size: 0.8rem;
  }
}

.tabsGrid .active {
  font-weight: bold;
  border-style: dashed;
  border-width: 2px;
  border-color: #95FFFF;
  background: #95ffff2a;
}

.tabsGrid .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  background: transparent;
  text-align: start;
}

.tabsGrid .logo img {
  margin: 2vh;
  height: 3vw;
}

@media screen and (max-width: 1055px) {
  .tabsGrid .logo img {
    margin: 1vh;
    height: 4vw;
  }
}

@media screen and (max-width: 540px) {
  .tabsGrid .logo img {
    margin: 1vh;
    height: 4vh;
  }
}

@media screen and (max-width: 300px) {
  .tabsGrid .logo img {
    height: 10vw;
  }
}

@media screen and (max-width: 760px) {
  .tabsGrid {
    height: 7vh;
    width: 100vw;
        grid-template-areas: 'logo list';
    -ms-grid-columns: 10% auto;
        grid-template-columns: 10% auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    background-color: #041833bd;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}

@media screen and (max-width: 1049px) {
  .tabsGrid {
    font-size: 1.35vw;
  }
}
