.contact {
  width: 90vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  right: 5vw;
  padding: 7vw;
  padding-top: 3vw;
  padding-bottom: 0.2vw;
  display: -ms-grid;
  display: grid;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
      grid-template-areas: 'heading' 'container';
  -ms-grid-rows: 7vh auto;
      grid-template-rows: 7vh auto;
}

@media screen and (max-width: 760px) {
  .contact {
    width: 100vw;
    top: 10vw;
  }
}

@media screen and (max-width: 540px) {
  .contact {
    width: 100vw;
    top: 7vh;
    bottom: 0;
    right: 0;
  }
}

.contact .contactHeading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: heading;
  line-height: 7vh;
}

.contact .contactHeading .contactText {
  color: #ccd6f6;
  border-style: dashed;
  font-size: 1.5vw;
  padding: 0.5vw;
  font-weight: 500;
  border-width: 2px;
  border-color: #95FFFF;
}

.contact .contactHeading .contactText .highlightedText {
  color: #95FFFF;
}

@media screen and (max-width: 760px) {
  .contact .contactHeading .contactText {
    font-size: clamp(18px, 4vw, 24px);
  }
}

@media screen and (max-width: 540px) {
  .contact .contactHeading .contactText {
    font-size: clamp(20px, 4vw, 26px);
    padding: 1vw;
  }
}

.contact .contactContainer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: container;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2vw;
  text-align: center;
}

.contact .contactContainer .getInTouch {
  color: #95FFFF;
  font-size: clamp(24px, 6vw, 52px);
}

.contact .contactContainer .contactForm {
  margin-top: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.contact .contactContainer .contactForm input, .contact .contactContainer .contactForm textarea {
  background: #95ffff13;
  border: 2px dashed #95ffff;
  color: #ccd6f6;
  padding: 0.7em;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  width: 44vh;
}

@media screen and (max-width: 540px) {
  .contact .contactContainer .contactForm input, .contact .contactContainer .contactForm textarea {
    width: 50vw;
  }
}

.contact .contactContainer .contactForm input::-webkit-input-placeholder, .contact .contactContainer .contactForm textarea::-webkit-input-placeholder {
  color: #8892b0;
}

.contact .contactContainer .contactForm input:-ms-input-placeholder, .contact .contactContainer .contactForm textarea:-ms-input-placeholder {
  color: #8892b0;
}

.contact .contactContainer .contactForm input::-ms-input-placeholder, .contact .contactContainer .contactForm textarea::-ms-input-placeholder {
  color: #8892b0;
}

.contact .contactContainer .contactForm input::placeholder, .contact .contactContainer .contactForm textarea::placeholder {
  color: #8892b0;
}

.contact .contactContainer .contactForm input:focus, .contact .contactContainer .contactForm textarea:focus {
  background: #9cfcfc2a;
  outline: none;
  border: 2px solid #95FFFF;
}

.contact .contactContainer .contactForm textarea {
  width: 44vh;
  height: 24vh;
  font-size: 0.9rem;
}

@media screen and (max-width: 540px) {
  .contact .contactContainer .contactForm textarea {
    width: 50vw;
  }
}

.contact .contactContainer .contactForm .contactBtn {
  width: 12vh;
  height: 5vh;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  background: #95FFFF;
  border: none;
  border-radius: 0.3rem;
  color: #001229;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.contact .contactContainer .contactForm .contactBtn:hover {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
          transform: scale3d(1.05, 1.05, 1.05);
}

.contact .footer {
  margin-top: 5vh;
  bottom: 0;
  text-align: center;
}

.contact .footer h3 {
  color: #ccd6f6;
  font-size: clamp(15px, 3vw, 30px);
  font-weight: 400;
  line-height: 1rem;
}

.contact .footer h3:hover, .contact .footer h3:focus {
  color: #95FFFF;
}
/*# sourceMappingURL=contact.css.map */